{% extends "layout.html" %}

{% block body %}

<h3>About Us</h3>
<hr>

<p>
    Hello everyone. I'm Mustafa Murat Coşkun. I am a 4th-year student in Computer Engineering at METU. I founded the Yazılım Bilimi (Software Science) channel on April 10, 2015, to be helpful to young people and developers who want to learn programming and software, and also to contribute to the advancement of software and education in Turkey. I have tried to upload videos as much as I could until now. My goal with this channel is to turn Software Science into a general online academy and provide free education to all corners of Turkey. As the youth of our country, let's try to spread software and science to everyone together. Are you in?
</p>

{% endblock body %}
